<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EsportDB"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EsportTournamentDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Esport Tournament Management" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="EsportManagement.DTO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add assembly="EsportManagement.DAL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add assembly="EsportManagement.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="20480" />
    <machineKey
      validationKey="F3EF09DF357C323DE512086DE754B51C2D5DF8864B8B40A8865C58C4A5C92F38926C73DBDC85E18FDB6F26614E9A44F8423DF9D2E512CDF9A6308EBC58B94B1B"
      decryptionKey="EC0A41C440FB9A162DAE0F0165068C27B68455645C56C998F72C0707989CD887"
      validation="HMACSHA256"
      decryption="AES" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
    <pages>
      <namespaces>
        <add namespace="EsportManagement.DTO" />
        <add namespace="EsportManagement.BLL" />
      </namespaces>
    </pages>
    <!-- Đã chuyển sang Session-based auth qua AuthHelper, không dùng FormsAuth deny -->
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <sessionState mode="InProc" timeout="60" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
